.nav-link, a{
 text-decoration: none;
 color: black;
}
.nav-link:hover{
 text-decoration: none;
 color: black;
}

nav{
 animation: logo 1s;
 background-color:transparent;
}

#content{
  height:  50rem;
}
h2{
 font-size:40px;
}
p{
 font-size:1.5rem;
}


#logo{
 width: 300px;
 height: 200px;
 animation: logo 0.5s;
 
 text-shadow: 2px 2px 4px #ffffff;
}


@keyframes logo{
 from{
  opacity: 0;
  margin-top: -100px;
 }
 to{
  opacity: 1;
  margin-top: 0px;
 }
}


#title h1{
 animation: tituloSurgir  2s;
 text-shadow: 0 2px 0;
 font-style: bold;

}
#title p{
 animation: tituloSurgir  3s;

}

@keyframes tituloSurgir{
 from{
  opacity: 0;
  margin-top: 100px;
 }
 to{
  opacity: 1;
  margin-top: 0px;
 }
}


#topo-inf-div{
  background: linear-gradient(red, yellow);
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
}
#fundo-baixo{

  position: absolute;
  width: 100%;
  height: 590px;
  bottom:-35em;
  background-color: #955FFF;
}

#waves{
 position: absolute;
 bottom: -15rem;
 width: 200%;
 height: 200%;
 right: -15px;
 left: 0;
 overflow: hidden;
}

#wave-1{
 animation: wave1 7s .6s ease-in-out  infinite alternate;
 width: 200%;
}

@keyframes wave1 {
 from{
 transform:translateX(-200px);}
}

#wave-2{
 animation: wave2 7s .5s ease-in-out  infinite alternate;
 width: 200%;
}

@keyframes wave2 {
 from{
 transform:translateX(-200px);}
}

#wave-3{
 animation: wave3 7s ease-in-out  infinite alternate;
 width: 200%;
}

@keyframes wave3 {
 from{
 transform:translateX(-200px);}
}

#title{
 z-index: 1000;
position: absolute;
margin-top: 5rem;
left: 0;
right: 0;

/*font-family: 'Inter';*/
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 100px;
/* or 200% */


color: #000000;
}